body{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
.col{
    margin-right: 100px;
}
li.error{
    color: red;
}
li.success{
    color: green;
}
.flashes{
    padding: 0;
}
li{
    list-style: none;
}
textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
}
input.post{
    display: block;
    float: right;
}
p.messages{
    margin: 10px 0 0 20px;
}
div.comments{
    margin: 10px 0 0 40px;
}